.terms-page {
    position: absolute;
    z-index: 4000;
    width: 100%;
    background-color: rgb(246, 246, 246);
    font-family: Arial, Helvetica, sans-serif;
}

.terms-page-head {
    position: fixed;
    z-index: 4001;
    width: 100%;
    height: 45px;
    line-height: 45px;
    background-color: #fff;
    text-align: center;
}

.terms-page-head span {
    font-weight: bold;
}

.terms-page-head a {
    position: absolute;
    top: 6.5px;
    left: 0;
    height: 32px;
    line-height: 32px;
    text-decoration: none;
    color: #000;
    font-weight: normal;
    padding-left: 25px;
    background-image: url(../images/arrow-back-black.png);
    background-repeat: no-repeat;
}

.terms-page-content {
    overflow-y: auto;
    padding: 0 20px;
    margin-top: 45px;
    font-size: 14px;
}

.terms-page-content ol {
    padding-left: 20px;
}

.terms-page-content ol li{
    margin-top: 10px;
    text-align: justify;
}

.terms-panel {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 500;
    margin-left: -301px;
    margin-top: -236px;
    width: 500px;
    height: 450px;
    padding: 10px 50px;
    font-family: Arial, Helvetica, Sans-Serif;
    background-color: #fff;
    border: 1px solid #ccc;
}

.terms-panel-title {
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
}

.terms-panel-content {
    height: 350px;
    overflow-y: auto;
    padding: 0 20px;
    font-size: 14px;
    margin-top: 10px;
}

.terms-panel-content ol {
    padding-left: 20px;
}

.terms-panel-content ol li{
    margin-top: 10px;
    text-align: justify;
}

.terms-panel-bottom {
    text-align: center;
    margin-top: 10px;
}

.terms-panel-bottom a {
    width: 80px;
    height: 35px;
    line-height: 35px;
    color: white;
    display: inline-block;
    font-size: 14px;
    text-decoration: none;
}