html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
linkcode,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  font-family: 'Helvetica Neue', 'Roboto', "microsoft yahei";
  line-height: 1;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html,
body {
  width: 100%;
  height: 100%;
  min-height: 768px;
  background: #00b5e6 url(../img/bg.jpg) no-repeat center;
  background-size: cover;
}

@-webkit-keyframes load {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

.m-index .wrap {
    width: 1000px;
    margin: 0 auto;
}
.m-index .wrap .top {
    width: 100%;
    height: 80px;
    overflow: hidden;
}
.m-index .wrap .top .logo {
    float: left;
    width: 275px;
    height: 41px;
    margin-top: 20px;
    background: url(../img/bg_logo.png) no-repeat center;
}
.m-index .wrap .top .btn-en {
    float: right;
    width: 49px;
    height: 49px;
    margin-top: 23px;
    margin-right: 13px;
    background: url(../img/bg_en.png) no-repeat center;
}
.m-index .wrap .top .btn-en a {
    display: block;
    width: 100%;
    height: 100%;
    text-indent: -999em;
}
.m-index .wrap .top .btn-ch {
    float: right;
    width: 49px;
    height: 49px;
    margin-top: 23px;
    margin-right: 13px;
    background: url(../img/bg_ch.png) no-repeat center;
}
.m-index .wrap .top .btn-ch a {
    display: block;
    width: 100%;
    height: 100%;
    text-indent: -999em;
}
.m-index .wrap .main {
    width: 390px;
    min-height: 430px;
    height: auto;
    margin: 0 auto;
    color: #fff;
    font-size: 20px;
}
.m-index .wrap .main .title{
    text-align: center;
    margin-bottom: 25px;
}
.m-index .wrap .main {
    height: auto;
}
.m-index .wrap .main .form{
    height: auto;
}
.m-index .wrap .main .form .item {
    margin-bottom: 12px;
}
.m-index .wrap .main .form .item input {
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    padding-left: 10px;
    border: 2px solid #fff;
    border-radius: 5px;
    background: transparent;
    color: #fff;
}

.m-index .wrap .main .form .item.item-nam {

}

.m-index .wrap .main .form .item .region-btn {
    width: 72px;
    height: 40px;
    margin-right: 16px;
    line-height: 40px;
    font-size: 14px;
    text-indent: 15px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    box-sizing: border-box;
    display: inline-block;
    text-decoration: none;
    vertical-align: top;
}

.m-index .wrap .main .form .item.item-name input {
    width: 300px;
}

.m-index .wrap .main .form .item input::-webkit-input-placeholder {
    color: #a0d6f1;
}
.m-index .wrap .main .form .item input::-moz-input-placeholder {
    color: #a0d6f1;
}
.m-index .wrap .main .form .item input::-ms-input-placeholder {
    color: #a0d6f1;
}
.m-index .wrap .main .form .item.item-check {
    width: 244px;
    margin: 0 auto 24px;
    padding: 0;
}
.m-index .wrap .main .form .item.item-check input {
    width: 23px;
    height: 23px;
    background: transparent;
    margin: 0;
    vertical-align: middle;
    padding-left: 0;
    border: none;
}
.m-index .wrap .main .form .item.item-check label {
    font-size: 16px;
}
.m-index .wrap .main .form .item.item-check label a {
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}
.m-index .wrap .main .form .btn-login {
    width: 390px;
    height: 46px;
    line-height: 46px;
    margin-bottom: 50px;
    font-size: 18px;
    text-align: center;
    color: #00c0f2;
    background: #fff;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    text-decoration: none;
}
.m-index .wrap .main .form .btn-switch .inner{
    width: 255px;
    position: relative;
    font-size: 20px;
    cursor: pointer;
    margin: 0 auto;
}
.m-index .wrap .main .form .btn-switch .inner a {
    color: #fff;
    text-decoration: none;
}
.m-index .wrap .main .form .btn-switch .inner::after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    display: block; 
    width: 20px;
    height: 19px;
    background: url(../img/bg_arrow.png) no-repeat center;  
}
.m-index .wrap .main .phone-box .form .item.item-pwd {
    margin-bottom: 24px;
}
.m-index .wrap .main .phone-box .form .item.item-pwd input {
    float: left;
    width: 236px;
    height: 40px;
}
.m-index .wrap .main .phone-box .form .item.item-pwd {
    overflow: hidden;
}
.m-index .wrap .main .phone-box .form .item.item-pwd .btn-get-pwd{
    float: left;
    width: 136px;
    height: 40px;
    margin-left: 16px;
    *margin-left: 3px;
    line-height: 40px;
    font-size: 14px;
    text-align: center;
    color: #00c0f2;
    background: #fff;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    text-decoration: none;
}
.m-index .wrap .main .phone-box .form .btn-switch-msg .inner{
    width: 255px;
}
.m-index .wrap .main .msg-box {
}
.m-index .wrap .main .msg-box .form .item.item-number {
    margin-bottom: 24px;
}
.m-index .wrap .main .msg-box .form .btn-switch-phone .inner{
    width: 230px;
}
.m-index .wrap .advertising {
    width: 100%;  
}
.m-index .wrap .advertising img {
    display: block;
    width: 100%;
}
.m-index .wrap .bottom {
    width: 100%;
    padding: 34px 0 30px;
}
.m-index .wrap .bottom p {
    margin-bottom: 10px;
    text-align: center;
    font-size: 12px;
    color: #fff;
}
.m-float-clause {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 768px;
    left: 0;
    top:0;
    right: 0;
    bottom: 0;
    z-index: 10;
    color: #fff;

}
.m-float-clause  .inner {
    position: absolute;
    min-height: 600px;
    background: rgba(0,0,0,0.8);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:30px;
    overflow: hidden;
}
.m-float-clause  .inner .title {
    width: 100%;
    padding: 30px 0 30px; 
    font-size: 30px;
    text-align: center;
}
.m-float-clause  .inner .content {
    padding: 0 20px;
}
.m-float-clause  .inner .content p {
    line-height: 30px;
    text-indent: 2em; 
    font-size: 16px;   
}
.m-float-clause  .inner .btn-close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 52px;
    height: 52px;
    background: url(../img/bg_btn_close.png) no-repeat center;
    background-size: contain;
    cursor: pointer;
}
body.en .m-index .wrap .main .title {
    width: 410px;
    margin-left: -10px;
}
body.en .m-index .wrap .main .phone-box .form .btn-switch-msg .inner {
    width: 345px;
}
body.en .m-index .wrap .main .msg-box .form .btn-switch-phone .inner {
    width: 280px;
}

.m-index .wrap .main .succee-box {
    padding-top: 90px;
}
body.succeed-page .m-index .wrap .main .succee-box {
    padding-top: 30px;
}
.m-index .wrap .main .succee-box .i-succee{
    width: 112px;
    height: 112px;
    margin: 25px auto;
    background: url(../img/i_succee.png) no-repeat center;
}
.m-index .wrap .main .succee-box .title{
    text-align: center;
    font-size: 28px;
}
.m-index .wrap .main .succee-box .txt2{
    text-align: center;
}
body.en .m-index .wrap .main.succee .title {
    margin: 0 auto 25px;
}
.m-index .wrap .main .succee-box .btn-back{
    width: 270px;
    height: 46px;
    border: 2px solid #fff;
    border-radius: 5px;
    margin: 55px auto 0;
    text-align: center;
} 
.m-index .wrap .main .succee-box .btn-back a{
    display: block;
    width: 100%;
    height: 100%;
    line-height: 46px;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
} 
.m-index .wrap .main .succee-box .btn-back a:hover {
    background: #fff;
    color: #00c0f2;
}
body.en .m-index .wrap .main.succee {
    width: 520px;
}
.m-index .wrap .main .history-box {
     padding-top: 100px;
}
.m-index .wrap .main .history-box .title{
    font-size: 20px;
} 
.m-index .wrap .main .history-box .btn-login{
    width: 270px;
    height: 46px;
    border: 2px solid #fff;
    border-radius: 5px;
    margin: 55px auto 0;
    text-align: center;
} 
.m-index .wrap .main .history-box .btn-login a{
    display: block;
    width: 100%;
    height: 100%;
    line-height: 46px;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
} 
.m-index .wrap .main .history-box .btn-login a:hover {
    background: #fff;
    color: #00c0f2;
}

.m-index .wrap .main .defeat-box .i-defeat{
    width: 112px;
    height: 112px;
    margin: 25px auto;
    background: url(../img/i_defeat.png) no-repeat center;
}
body.defeat-page .m-index .wrap .main .defeat-box {
    padding-top: 60px;
}
.m-index .wrap .main .defeat-box .title{
    text-align: center;
    font-size: 28px;
}
.m-index .wrap .main .defeat-box .txt2{
    text-align: center;
}
.m-index .wrap .main .defeat-box .txt2 a {
    color: #fff;
    text-decoration: underline;
}
.m-index .wrap .main .defeat-box .txt2 a:hover {

}

.m-float-load {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}
.m-float-load .inner {
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -43px 0 0 -127.5px;
  width: 255px;
  height: 56px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}
.m-float-load .inner .i-load {
  width: 23px;
  height: 23px;
  margin-right: 10px;
  background: url(../img/bg_load.png) no-repeat center;
  background-size: 23px auto;
  -webkit-animation: load 3s linear infinite;
}

.m-float-load .inner .txt {
  color: #fff;
  font-size: 18px;
}
